<!DOCTYPE html>
<html>
<head>
    <title>{{ podcast['title'] }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/superkube@latest/dist/superkube.min.css">
    <script src="https://cdn.podlove.org/web-player/5.x/embed.js"></script>
    <style>
        iframe {
            margin: 0 auto;
        }
    </style>
</head>
<body>

<div class="navbar bg-dark hidden-sm">
    <div class="navbar-container container centered edges">
        <div class="navbar-brand">
            <a href="/" class="brand">
                <h2 class="heading-large heading-light">Podcasts</h2>
            </a>
        </div>
    </div>
</div>

<main class="main">
    <div class="hero-container container centered edges pt-5 pb-5">
        <nav class="breadcrumb">
            <ul class="breadcrumb-list">
                <li class="breadcrumb-item">
                    <a href="/" class="breadcrumb-link">Podcasts</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/{{ podcast['id'] }}" class="breadcrumb-link">{{ podcast['title'] }}</a>
                </li>
                <li class="breadcrumb-item active">
                    <span class="breadcrumb-link">{{ episode['title'] }}</span>
                </li>
            </ul>
        </nav>
    </div>

    <div class="hero-container container centered edges pt-10 pb-10">
        <div id="app"></div>
    </div>

    <div class="content py-5">
        <div class="container centered edges">
            <div class="hero-body mt-3 mb-5">
                <p class="text-large text-dark-mid">{{ episode['summary'] }}</p>
            </div>
            {% if episode.shownotes %}
                <hr/>
                <div class="container-8 centered mt-5 p-5 bg-aluminum">
                    {{ episode.shownotes }}
                </div>
            {% endif %}
        </div>
    </div>

    <script src="//cdn.podlove.org/web-player/5.x/embed.js"></script>
    <script src="{{ episode.id }}.js"></script>
    <noscript>
        <div class="hero bg-aluminum">
            <div class="hero-container container centered edges pt-10 pb-10">
                <div class="hero-icon mb-6">
                    <figure class="image-128">
                        <img src="{{ episode['id'] }}.jpeg"/>
                    </figure>
                </div>
                <div class="hero-head">
                    <h1 class="heading-mega">{{ episode['title'] }}</h1>
                    <h3 class="heading-medium">{{ episode['subtitle'] }}</h3>
                </div>
            </div>
        </div>
        <div class="content py-5">
            <div class="container centered edges">
                <div class="hero-body mt-3 mb-5">
                    <p class="text-large text-dark-mid">{{ episode['summary'] }}</p>
                </div>
                <div class="hero-body  mt-3">
                    <audio class="centered" controls src="{{ episode['id'] }}.mp3"></audio>
                </div>
                {% if episode.shownotes %}
                    <hr/>
                    <div class="container-8 centered mt-5 p-5 bg-aluminum">
                        {{ episode.shownotes }}
                    </div>
                {% endif %}
            </div>
        </div>
    </noscript>
</main>
</body>
</html>